name: Upload Docker Container

on:
  release:
    types: [created]

jobs:
  deploy:
    name: Checkout code
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and push Docker images
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: garethjns/social-distancing-sim
        tags: 0.10.0,latest
